
@font-face {
	font-family: "Montserrat Alternates";
	src: url(/css/font/montserrat/MontserratAlternates-Regular.otf);
}

@font-face {
	font-family: "Montserrat Alternates";
	src: url(/css/font/montserrat/MontserratAlternates-Black.otf);
	font-weight: bold;
}

@font-face {
	font-family: "Montserrat Alternates";
	src: url(/css/font/montserrat/MontserratAlternates-Italic.otf);
	font-style: italic;
}

@font-face {
	font-family: "Montserrat Alternates";
	src: url(/css/font/montserrat/MontserratAlternates-BlackItalic.otf);
	font-weight: bold;
	font-style: italic;
}
