#dialog {
	background-color: rgba(0,0,0,.5);
	backdrop-filter: blur(6px);
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
}

#dialog > div {
	background-color: white;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	padding: 1em;
	border-radius: .3em;
}

#dialog > div > div:last-child {
	margin-top: .5em;
}
#dialog > div > div:last-child > button + button {
	margin-right: .5em;
}

#dialog h5 {
	margin: .5em 0;
}

#dialog input[type=text] {
	display: block;
	width: 100%;
	box-sizing: border-box;
}
