textarea {
	border: none;
	box-sizing: border-box;
	width: 100%;
}

form {
	position: relative !important;
	margin: 3em !important;
	top: 0 !important; right: 0 !important;
	width: 100% !important;
}

@media screen and (max-width: 930px) {
	form {
		margin: 0 !important;
	}
}