:root {
	--color-background:   #EDEDED;
	--color-foreground:   white;
	--color-accent:       #594032;
	--color-text:         black;

	--color-alert:        #BDAFE7;
	--color-alert-em:     #9F8BD9;
	--color-alert-accent: #6B50B8;
}
